.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.nav-search {
  justify-content: center;
  justify-self: center;
  margin-left: 6rem;
  margin-right: 3rem;
  cursor: pointer;
}
.fa-firstdraft {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  color: #f0ca20;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 40vw;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-links .panier {
  color: gold; 
}
.nav-links:hover {
  background-color: #ffd700;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
  display: none;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.search-item{
  display: none ;
}

@media screen and (max-width: 1540px) {
  .nav-search {
    display: none;
  }
  .NavbarItems {
    position: relative;
  }
.search-item{
  display: block;
}

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    padding-bottom: 10px;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .fa-bars {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    color: #fff;
    display: block;
    font-size: 30px;
    color: #f0ca20;
    cursor: pointer;
    justify-content: flex-end;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #ffd700;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left:0;
    transform: translate(5%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 1.5rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background: #ffd700;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #ffd700;
    transition: 250ms;
  }
}
